<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malthshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MalthShop"
        android:usesCleartextTraffic="true">
        <activity android:name="Search.EarphoneActivity"></activity>
        <activity android:name="Search.MouseActivity" />
        <activity android:name="Search.ElectronnicActivity" />
        <activity android:name="Search.LaptopActivity" />
        <activity android:name="Search.SearchActivity" />
        <activity android:name="Search.PhoneActivity" />
        <activity android:name="PurchaseOrderManager.ShowDetailPurchasedActivity"></activity>
        <activity android:name="PurchaseOrderManager.PurchasedActivity" />
        <activity android:name="CartManager.CartActivity" />
        <activity android:name="PayManager.PayActivity" />
        <activity android:name="Login.RegisterActivity" />
        <activity
            android:name="SlideShow.SlideShowActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Login.LoginActivity" />
        <activity
            android:name=".ActivityShowProduct"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>